.main-wrapper {
    height: 40vh;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    font-family: 'UnifrakturCook', cursive;
    background-color: black;
}

.carousel-wrapper {
    width: 90vw;
    margin: auto
}

.p-box {
    width: 200px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.p-box:hover {
    opacity: 1;
    cursor: url('../../assets/icons/aim-g.png'), auto;
}

.partner1 {
    background-image: url('../../images/budowle-swiata-p.png');
    opacity: .4;
}

.partner2 {
    background-image: url('../../images/p-zielona.png');
    opacity: .4
}

.partner3 {
    background-image: url('../../images/logo_osada_p.png');
    opacity: .4
}

.partner4 {
    background-image: url('../../images/p_willa.png');
    opacity: .4
}

