.wrapper {
    width: 100vw;
    height: 400px;
    background-image: url('../../images/cennik-bck.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: sepia(10%);
    color: #000;
}

.text-wrapper {
    position: relative;
    width: auto;
    height: auto;
    background-image: url('../../images/old_paper.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: -30px;
    margin: 0 30px;
    transform: rotate(-10deg);
    z-index: -1;
    
}

.text-hours {
    margin: 25px;
    width: 300px;
    padding: 15px;
    font-family: 'Courier New';
    line-height: 1.1rem;
    font-size: 0.8rem;
}

.text {
        color: #000;
        font-size: 44px;
        text-align: center;
        padding: 20px;
        font-family: 'UnifrakturCook', cursive;
}

.bigger {
    font-weight: bold;
    
}

.hours-content {
    display: flex;
    justify-content: space-around;
}

.info-wrapper{
    width: 400px;
    height: 500px;
    padding: 20px;
    background-color: rgb(218, 195, 157);
    border-radius: 10px;
    border: 2px dashed rgb(82, 71, 54);
    box-shadow: 5px 0 25px rgb(48, 47, 42);

}

.info-text {
    font-family: 'Courier New';
    padding: 10px;
    font-size: 0.7rem;
    font-weight: bold;
}