.img-sepia {
    filter: sepia(100%);
    padding: 10px 10px 3px 10px
}

.img-sepia:hover {
    transform: scale(1.02);
    transition: all 1s linear;
}

.border {
    border: 2px dashed rgb(124, 121, 110);
}

.cursor {
    cursor: url('../../assets/icons/aim.png'), auto;
}

.border-bottom {
    width: 100px;
    border-bottom: 1px dashed rgb(124, 121, 110);
}